//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------

body {
    margin-top: 33px;
}

#barra-brasil {
    margin-top: -33px;
}

// _header.scss
#secondary-menu {
	margin-top: 14px;
}

//_home.scss
#home-watermark {
	background-position: right bottom;
}
#nav-developers {
    background: #96161A;
}
#home-developers {
    background: #96161A;
}

// Header
#main-header {
    background-color: #FFFFFF;
    border: none;
    position: static;
}

// Section
#main-section {
    margin-top: 0;
}

body {
    &.controller-panel {
        #main-section {
            background-color: $gray-lighter;
            .panel-main-content {
                width: 75%;
            }
        }
    }
    &.controller-agent {
        #main-section {
            background-color: $gray-lighter;
            width: 960px;
            #editable-entity {
                width: inherit;
            }
        }
    }
}

// _entities-list-header.scss
#event-list-header,
#agent-list-header {
    margin-bottom: 0;
}
#lista {
    margin-top: 10px !important;
}
#lista-dos-eventos,
#lista-dos-agentes {
    padding-top: 5px !important;
}

#lista-dos-eventos,
#lista-dos-agentes,
.controller-event #main-section {
    background-color: $gray-lighter;
}

.btn-verified {
    &.selected {
        background-image: url(../img/verified-icon-active.png);
    }
}
