//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #F99922;
$brand-accent: #000000;


$brand-event: #00A651;
$brand-agent: #2D56A6;
$brand-space: #ffd400;
$brand-project: #ED1C24;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$headings-font-stack:		"Open Sans", serif;
$headings-font-weight:		bold;

$base-color-info-responsavel: #F7C908;
$base-color-entidade-dados: #075579;
$base-color-projetos-financiados: #D82E5F;
$base-color-ponto-mapa: #00A99D;
$base-color-portfolio: #7B4AAF;
$base-color-atuacao-articulacao: #F7931E;
$base-color-economia-viva: ##ED1C24;
$base-color-formacao: #8CC63F;

$base-color-footer-primary: #09897a;
$base-font-droidsans: "DroidSans";


$yellow_btn: #FBED1D;
