//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #F99922;
$brand-accent: #000000;


$brand-event: #00A651;
$brand-agent: #2D56A6;
$brand-space: #ffd400;
$brand-project: #ED1C24;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$headings-font-stack:		"Open Sans", serif;
$headings-font-weight:		bold;

$base-color-info-responsavel: #f7c908;
$base-color-entidade-dados: #0838F7;
$base-color-projetos-financiados: #d82e5f;
$base-color-ponto-mapa: #2CD8A7;
$base-color-portfolio: #f7931e;
$base-color-atuacao-articulacao: #911DF7;
$base-color-economia-viva: #09F110;
$base-color-formacao: #F11009;

$base-color-footer-primary: #09897a;
$base-font-droidsans: "DroidSans";


$yellow_btn: #FBED1D;
